<template name="404int">
 {{>headerFrontPages}}
  <section class="hero-fullscreen error-page overlay bg-img-1">  
            <div class="hero-container">  
                <div class="hero-content">   
                        
                    <h2 class="color subheading mt30">404</h2>  
                    <h1 class="large white mb30">Page introuvable</h1>   
                    <p class="white">La page recherchée n'a pas pu être trouvée, elle à été supprimée<br> ou déplacée et l'URL a peut-être changée.</p> 
                    <a href="/accueil" class="btn btn-primary btn-md mt40">Retourner à la page d'accueil</a>
                    
                </div>
            </div>    
        </section>
        {{>footerForms}}
</template>