<template name="accountModal1">

  				<!-- Modal -->
  				<div class="modal fade" id="myModal31" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  					<div class="modal-dialog" role="document">
  						<div class="modal-content report_modal">
  							<div class="modal_title_report text-center">
  								Pourquoi souhaitez-vous signaler ce profil ?
  							</div>
  							<div class="modal_text_report">
  								Les signalements sont privés et l’hôte(sse)
  								ne sera pas notifié de cette action.
  								Nous prendrons contact avec lui pour l’avertir
  								puis, en cas de signalements répétés,
  								nous le désinscrirons.
  							</div>
  							<ul class="modal_menu">
  								<li>L'hote(sse) n'est venu</li>
  								<li>L'hote(sse) est arrive en retard</li>
  								<li>L'hote(sse) n'avait pas une tunue appropriee</li>
  								<li>L'hote(sse) n'avait pas une bonne presentation</li>
  								<li>L'hote(sse) a eu un mauvais comportement</li>
  							</ul>
  							<div class="text-center">
  								<button class="btn submit_btn modal_btn text-uppercase">envoer</button>
  							</div>
  						</div>
  					</div>
  				</div>
</template>
