  <template name="AccueilHote">
  <!--<link rel="stylesheet" href="/css/style.css">-->
<style media="screen">
  .section-features {
    /*pa-left: auto !important;*/
    margin-right: auto !important;
  }

.header {
/*position: fixed;
top:0;
background: #fff;
width: 100%;
height: 13%;
z-index: 99999;*/
}

</style>
  <div id="main-menu" class="main-menu">
      <div class="inner">
          <i class="fa fa-close" id="menu-close"></i>

          <div class="row">
              <div class="medium-9 columns medium-centered">
                  <div class="row">
                      <div class="medium-6 columns">
                          <div class="menu-box">
                              <h2>Liens utiles</h2>
                              <nav>
                                  <ul>
                    <li class="menu-toggle-resp"><a href="/accueil">Accueil Client</a></li>
                    <li class="menu-toggle-resp"><a href="/partenaire/compte">Compte Manners</a></li>
                    <li class="menu-toggle-resp"><a href="/inscription">S'inscrire</a></li>
                    <li class="menu-toggle-resp"><a href="/connexion">Se connecter</a></li>
                    <li><a href="/devenir-manners">Devenez Hôte</a></li>
                    <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                    <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                    <li><a href="/tenues">Les tenues</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="menu-box contacts">
                                <h2>Contact</h2>
                                <p><i class="fa fa-phone"></i>01 76 39 00 01</p>
                                <p><i class="fa fa-map-marker"></i> Paris 75008, 24 Avenue Marceau</p>
                                <p><i class="fa fa-envelope"></i><a href="/contact" target="_blank">Contactez-nous</a></p>
                            </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="medium-4 columns medium-centered">
                  <div class="menu-box menu-box-socials">
                      <h2></h2> <!-- Réseaux sociaux -->
                      <div class="socials text-center">
                          <a href="#"><img src="/images/facebook-menu.png" alt=""></a>
                          <a href="#"><img src="/images/twitter-menu.png" alt=""></a>
                          <a href="#"><img src="/images/linkedin-menu.png" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <header class="header">
      <div class="expanded row">
          <div class="medium-1 columns">
              <i class="fa fa-bars" id="menu-open"></i>
              <a href="/accueilhote"><img class="logo show-for-small-only" src="/images/logo.svg" alt="Manners" height="120" width="200"></a>
              <a href="/accueil" class="comment-link header-item show-for-small-only" style="font-size: 14px;">Espace Client</a>
          </div>

          <div class="medium-2 columns">
              <a href="/accueilhote"><img class="logo show-for-medium" src="/images/logo.svg" alt="Manners" height="120" width="200"></a>
          </div>

          <div class="medium-6 columns text-left">
              {{#unless currentUser}}<div class="comment-wrapper button-wrapper">
              <a class="button-colored comment-link header-item show-for-medium" style="color:#fbae17; font-size: 14px;" href="/accueil">ESPACE CLIENT</a>
            </div>{{/unless}}<div class="comment-wrapper">
              <a href="/comment-ca-marche" id="header-phone" style="font-size: 14px;" class="comment-link header-item"><i class="fa fa-phone"></i>01 76 39 00 01</a>
            </div><div class="comment-wrapper dropdown dropdown-toggle">
               <a href="#" class="comment-link header-item ">AIDE <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/comment-ca-marche">Comment ça marche</a></li>
                 <li class="divider"></li>
                 <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                 <li class="divider"></li>
                 <li><a href="/tenues">Les tenues</a></li>
                 <li class="divider"></li>
                 <li><a href="/contact">Contactez-nous</a></li>
               </ul>
             </div>{{#unless currentUser}}<div class="comment-wrapper ">
                <a class="comment-link header-item show-for-medium" style="font-size: 14px;" href="/inscrivez-vous">INSCRIPTION</a>
              </div>
              <div class="comment-wrapper ">
                <a class="comment-link header-item show-for-medium" style="font-size: 14px;" href="/connexion">CONNEXION</a>
              </div>{{/unless}}{{#if currentUser}}
              <div class="pull-right customer_name cn-ac">
                <div class="inline-block dropdown dropdown-toggle customer_mt">
                  <div class="comment-wrapper"><img class="customer_photo radius header-item" src="{{getImage currentUser._id}}" alt="Votre photo ici"><div class="header-item"><span class="inline-block">{{myCompany}} <br> {{currentUser.profile.firstname}} {{currentUser.profile.name}}</span>
                  </div>

                </div>
                <ul class="dropdown-menu">
                  <li><a href="/partenaire/mes-missions">Mes missions</a></li>
                  <li class="divider"></li>
                  <li><a href="/partenaire/historique">mon historique</a></li>
                  <li class="divider"></li>
                  <li><a href="/partenaire/profil">mon profil</a></li>
                  <li class="divider"></li>
                  <li><a href="/partenaire/messagerie">Messagerie</a></li>
                  <li class="divider"></li>
                  <li><a href="/partenaire/compte/">Mon compte</a></li>
                  <li class="divider"></li>
                  {{>logoutC}}
                </ul>
              </div>
            </div>
            {{/if}}
          </div>
        </div>

 
       <div class="expanded row">
         <div class="medium-11 medium-offset-1">
         </div>
       </div>
     </header>

     <!--<div class="sub-header" style="position: relative; width:100%; height:74px; z-index:1"></div>

      <div class="carousel become slide" data-ride="carousel" id="blog-carousel">
          {{> carouselList templ="client"}}
      </div>-->
      <div class="sub-header" style="position: relative; width:100%; height:74px; z-index:1"></div>

   <div class="carousel become slide" data-ride="carousel" id="blog-carousel">
        {{> carouselList templ="hote"}}
    </div>

  <!-- <div id="slideshow" class="slideshow slideshow1">
      <div class="div">
          <img src="/images/slidepage2.jpg" alt="">
          <div class="caption text-center">
              <h2>INSCRIVEZ-VOUS ET REJOIGNEZ LA COMMUNAUTÉ</h2>
              <a class="hollow button show-for-medium" href="/inscription">INSCRIPTION</a>
          </div>
      </div>
  </div> -->

  <section style="display:none"></section>

  <section class="section-services-2">
    <!-- <h2>Devenez notre partenaire</h2>
    <p>Si vous avez de l’ambition et la volonté de travailler de manière professionnelle, Manners est une plate-forme qui vous correspond.</p>
    <p>Inscrivez-vous pour participer à nos séances de séléction</p> -->
      <div class="row small-up-2 medium-up-4 ssc1">
          <div class="column">
              <h3><span>1.</span><div class="img-wrapper"><img src="/images/picto/creez-votre-profil.png"/></div></h3>
              <p>Pré-inscrivez vous en ligne.</p>
          </div>
          <div class="column">
              <h3><span>2.</span><div class="img-wrapper"><img src="/images/picto/rencontrez-nous.png"/></div></h3>
              <p>Rencontrez-nous à nos bureaux.</p>
          </div>
          <div class="column">
              <h3><span>3.</span><div class="img-wrapper"><img src="/images/picto/comportement.png"/></div></h3>
              <p>Créez votre profil.</p>
          </div>
          <div class="column">
              <h3><span>4.</span><div class="img-wrapper"><img src="/images/picto/commencez-vos-missions.png"/></div></h3>
              <p>Commencez vos missions</p>
          </div>
      </div>
        {{#unless currentUser}}<a class="button hollow button show-for-medium" href="/inscription">REJOIGNEZ L'ÉQUIPE</a>{{/unless}}
  </section>

  <section class="section-features">

  	<div class="row small-up-2 medium-up-4 sscf">
      <h2>Pourquoi Manners ?</h2>
      <hr/>

        <div class="column">
            <img class="icon" src="/images/argent.png"/>
            <h2>Gagnez plus d'argent</h2>
            <div class="ul-wrapper draw meet">
              <ul>
                <li><p>Mettez fin aux intermédiaires</p>
                <p>Gagnez jusqu’au double par rapport à une agence traditionnelle</p></li></ul>

          </div>
        </div>

  		    <div class="column">
  				    <img class="icon" src="/images/simple.png"/>
  				    <h2>Simplifiez-vous la vie</h2>
              <div class="ul-wrapper draw meet">
                <ul>
                  <li><p>Recevez votre argent juste après la mission</p>
                    <p>Recevez vos missions par notifications</p></li></ul>

            </div>
          </div>

    		    <div class="column">
    				    <img class="icon" src="/images/performance.png"/>
    				    <h2>Soyez performant</h2>
                <div class="ul-wrapper draw meet">
                  <ul>
              <li><p>Comportez-vous de manière professionnelle et <br>
              votre profil sera mis en avant</p>
                </li></ul>

            </div>
    		</div>

          <div class="column">
    				<img class="icon" src="/images/vestaire2.png"/>
    				<h2>Utilisez votre vestiaire</h2>
            <div class="ul-wrapper draw meet">
              <ul>
                  <li><p>Ne perdez plus de temps à rendre puis <br>
                   récupérer votre tenue en agence</p>
                    </li></ul>

            </div>
    		</div>
  	</div>

  </section>
  <!--section avec le background gris -->

  <section class="video-presentation">
    <div class="fullscreen-video-player">
      <video id="player" poster="images/transparent.jpg">
      <source src="video/manners-movie.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="button-container"><button id="button-play" class="play" onclick="goFullscreen('player'); return false"></button></div>
  </div>
  </section>

  <script type="text/javascript">
function goFullscreen(id) {
var element = document.getElementById(id);
var button = document.getElementById('button-play');

if (element.mozRequestFullScreen) {

  if(element.paused || element.currentTime < 1) {
    element.mozRequestFullScreen();
    element.play();
    button.classList.add('paused');
    button.classList.remove('playing');
  } else {
    element.pause();
      button.classList.add('playing');
      button.classList.remove('paused');
  }



} else if (element.webkitRequestFullScreen) {

  if(element.paused || element.currentTime < 1) {
    element.webkitRequestFullScreen();
    element.play();
    button.classList.add('paused');
    button.classList.remove('playing');
  } else {
    element.pause();
      button.classList.add('playing');
      button.classList.remove('paused');
  }
}
}
</script>

  <section class="section-mission-event">

      <h2> Quelles qualifications ?</h2>
        <hr/>
      <div class="column-wrapper">
              <div class="column">
                <img class="respah" src="/images/polygon.png"/>
                      <div class="text-wrapper"><h4>Des bonnes manières</h4></div>
              </div>
              <div class="column">
                <img class="respah" src="/images/polygon.png"/>
                      <div class="text-wrapper"><h4>Un comportement irréprochable</h4></div>
              </div>
              <div class="column">
                <img class="respah" src="/images/polygon.png"/>
                      <div class="text-wrapper"><h4>De l'expérience</h4></div>
              </div>
              <div class="column">
                <img class="respah" src="/images/polygon.png"/>
                      <div class="text-wrapper"><h4>Le sens des responsabilités</h4></div>
              </div>
            </div>
  </section>

    <footer class="footer">
        <div class="row text-center">
            <div class="medium-4 columns">
                <h6>LIENS UTILES</h6>
                    <ul>
                    <li><a href="/devenir-hote-hotesse">Devenez Partenaire</a></li>
                    <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                    <li><a href="/faq">Questions fréquentes</a></li>
                    <li><a href="/tenues">Les tenues</a></li>
                    <li><a href="/contact" target="_blank">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <h6>CONTACTEZ-NOUS</h6>
                <p>
                    Victor, notre responsable partenariat:
                    <br><a href="mailto:victor@bemanners.com">victor@bemanners.com</a>
                    <br><a href="tel:+33176390001">01 76 39 00 01</a>
                    <br> 24 Avenue Marceau 75008 PARIS

                </p>
            </div>
            <div class="medium-4 columns">
                <h6>SUIVEZ-NOUS</h6>
                <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="/images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="/images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="/images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="/images/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-10 columns medium-centered">
                <div class="copyright text-center"><a href="dossier/manners-cgu.pdf">Conditions générales d'utilisation </a> - <a href="dossier/manners-mentions-legales.pdf">Mentions légales</a> - @Manners 2016</div>
            </div>
        </div>
        <div class="row column text-center">
            <img src="/images/powered.png" alt="">
        </div>
    </footer>

</template>
