<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="fragment" content="!">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="icon" sizes="16x16" href="/images/favicon.png">
    <title>Manners</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

<div class="scroll-top-wrapper pull-left">
	<span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div>
<script>

$(function(){

	$(document).on( 'scroll', function(){

		if ($(window).scrollTop() > 100) {
			$('.scroll-top-wrapper').addClass('show');
		} else {
			$('.scroll-top-wrapper').removeClass('show');
		}
	});
});
$(function(){

	$(document).on( 'scroll', function(){

		if ($(window).scrollTop() > 100) {
			$('.scroll-top-wrapper').addClass('show');
		} else {
			$('.scroll-top-wrapper').removeClass('show');
		}
	});

	$('.scroll-top-wrapper').on('click', scrollToTop);
});

function scrollToTop() {
	verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
	element = $('body');
	offset = element.offset();
	offsetTop = offset.top;
	$('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
}
</script>
    {{> sChatBox}}
<div id="main-menu" class="main-menu">
        <div class="inner">
            <i class="fa fa-close" id="menu-close"></i>

            <div class="row">
                <div class="medium-9 columns medium-centered">
                    <div class="row">
                        <div class="medium-6 columns">
                            <div class="menu-box">
                                <h2>Liens utiles</h2>
                                <nav>
                                    <ul>
                                        <li><a href="/devenir-manners">Devenez Manners</a></li>
                                        <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                                        <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                                        <li><a href="/tenues">Les tenues</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="menu-box contacts">
                                <h2>Contactez-nous</h2>
                                <p><i class="fa fa-phone"></i> <a href="tel:+33176390001">01 76 39 00 01</a></p>
                                <p><i class="fa fa-map-marker"></i> Paris 75008, 24 Avenue Marceau</p>
                                <p><i class="fa fa-envelope"></i><a href="mailto:contact@bemanners.com"> contact@bemanners.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns medium-centered">
                    <div class="menu-box menu-box-socials">
                        <h2></h2>
                        <!-- Réseaux sociaux -->
                        <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="/images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="/images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="/images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="/images/instagram.png" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>



<template name="Home">
 
    
 
  <style media="screen">
  body {
    font-family: "UniversalisADFStd-Regular", Arial, sans-serif;
  }
      .header .medium-8 {
            width:30%;
        }
        .header .medium-6 {
            margin:1%;
            font-size: 15px;
            width:30%;
        }
  </style>
  {{test}}
    <div id="homehead"></div>
    <div id="newsletter-box" class="newsletter-box text-left">
        <div class="inner">
            <p> La plateforme sera bientôt fonctionnelle. <br> En attendant, si vous avez besoin de Manners, veuillez nous contacter :</p>
            <p><i class="fa fa-phone" id="news-phone"></i></p>
            <p id="phone"><a href="tel:+33176390001">01 76 39 00 01</a></p>
            <br>
            <p><i class="fa fa-envelope" id="news-email"><a id="news-email-link" href="mailto:contact@bemanners.com">contact@bemanners.com</a></i></p>

            <!--<div id="subscribeForm">
                {{> MailChimpListSubscribe}}
            </div>-->


            <i class="fa fa-times" id="close-newsletter"></i>
        </div>
    </div>


    <div id="main-menu" class="main-menu">
        <div class="inner">
            <i class="fa fa-close" id="menu-close"></i>

            <div class="row">
                <div class="medium-9 columns medium-centered">
                    <div class="row">
                        <div class="medium-6 columns">
                            <div class="menu-box">
                                <h2>Liens utiles</h2>
                                <nav>
                                    <ul>
                                        <li><a href="/devenir-manners">Devenez Manners</a></li>
                                        <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                                        <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                                        <li><a href="/tenues">Les tenues</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="menu-box contacts">
                                <h2>Contactez-nous</h2>
                                <p><i class="fa fa-phone"></i> <a href="tel:+33176390001">01 76 39 00 01</a></p>
                                <p><i class="fa fa-map-marker"></i> Paris 75008, 24 Avenue Marceau</p>
                                <p><i class="fa fa-envelope"></i><a href="mailto:contact@bemanners.com"> contact@bemanners.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns medium-centered">
                    <div class="menu-box menu-box-socials">
                        <h2></h2>
                        <!-- Réseaux sociaux -->
                        <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="/images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="/images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="/images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="/images/instagram.png" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<header class="header">
        <div class="expanded row">
            <div class="medium-1 columns">
                <i class="fa fa-bars" id="menu-open"></i>
                <a href="/"><img class="logo show-for-small-only" src="images/logo.svg" alt="Manners" height="120" width="200"></a>
            </div>
            <div class="medium-3 columns">
                <a href="/"><img class="logo show-for-medium" src="images/logo.svg" alt="Manners" height="120" width="200"></a>
            </div>
            <div class="medium-8 columns text-right">
                <a href="/comment-ca-marche" style="color:#fbae17; font-size: 14px;" class="comment-link">Comment ça marche ?</a>
                <a href="/devenir-manners" class="button-colored comment-link header-item show-for-medium">ESPACE MANNERS</a>
                  
            </div>
        </div>
    </header>



    <div class="sub-header" style ="position: relative; width: 100%; height: 74px; z-index: 1"></div>
    <div class="carousel slide" data-ride="carousel" id="blog-carousel">
        <ol class="carousel-indicators bullets">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
            <li data-slide-to="2" data-target="#carousel-example-generic"></li>
        </ol>
        {{> carouselList templ="home"}}
        <a class="left carousel-control" data-slide="prev" href="#blog-carousel" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="right carousel-control" data-slide="next" href="#blog-carousel" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>


    <section class="section-services">
        <div class="row small-up-2 medium-up-4 ssch">
            <div class="column">
                <h3><span>1.</span> <i class="fa fa-list"></i></h3>
                <p>Détaillez vos besoins</p>
            </div>
            <div class="column">
                <h3><span>2.</span><i class="fa fa-users"></i></h3>
                <p>Choisissez les meilleurs profils</p>
            </div>
            <div class="column">
                <h3><span>3.</span><i class="fa fa-eur"></i></h3>
                <p>Payez en ligne</p>
            </div>
            <div class="column">
                <h3><span>4.</span><i class="fa fa-thumbs-o-up"></i></h3>
                <p>Recommandez vos profils favoris</p>
            </div>
        </div>
    </section>


    <section class="section-tagline">
        <div class="row">
            <div class="medium-10 columns medium-centered text-center">
                <h3>Manners vous met directement en relation avec<br> des jeunes professionnels pour réaliser vos événements <br>et opérations ponctuelles
                <br>Travaillez directement avec des profils qualifiés et responsables</h3>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="medium-10 columns medium-centered text-center">
                <a href="/comment-ca-marche" class="hollow button">EN SAVOIR PLUS</a>
            </div>
        </div>
    </section>


    <section class="section-money text-center">
        <div class="row">
            <div class="medium-5 columns wow fadeInRightBig">
                <img src="/images/money.png" alt="">
            </div>
            <div class="medium-5 columns wow fadeInLeftBig">
                <h2>Payez moins cher</h2>
                <p>Mise en relation <b>gratuite</b>.
                <br>Travaillez directement avec des <b>indépendants</b>
                <br>Deux fois <b>moins cher</b> qu'une agence traditionnelle
                </p>
            </div>
        </div>
    </section>


    <section class="section-best text-center">
        <div class="row">
            <div class="medium-5 columns wow fadeInRightBig how2hide">
                <img src="/images/best.jpg" alt="">
            </div>
            <div class="medium-5 columns wow fadeInLeftBig">
                <div class="inner">
                    <h2>Choisissez les meilleurs</h2>
                    <p>Une sélection exigeante sur CV puis <b>entretien physique</b>
                    <br>Un <b>système d’évaluation</b> performant qui met en avant les profils <b>sérieux et responsables</b></p>
                </div>
            </div>
            <div class="medium-5 columns wow fadeInRightBig how2display">
                <img src="/images/best.jpg" alt="">
            </div>
        </div>
    </section>


    <section class="section-payment text-center">
        <div class="row">
            <div class="medium-5 columns wow fadeInRightBig">
                <img src="/images/payment.jpg" alt="">
            </div>
            <div class="medium-5 columns wow fadeInLeftBig">
                <h2>Simplifiez vos démarches</h2>
                <p>Facturation dématérialisée et <b>consultable en ligne</b>
                <br>Système de <b>paiement en ligne</b> sécurisé</p>
            </div>
        </div>
    </section>


    <section class="section-security text-center">
        <div class="row">
            <div class="medium-5 columns wow fadeInRightBig how2hide">
                <img src="/images/secure.jpg" alt="">
            </div>
            <div class="medium-5 columns wow fadeInLeftBig">
                <h2>Travaillez en toute sécurité </h2>
                <p>Travaillez avec des Manners auto-entrepreneurs en règle
                    avec le droit du travail</p>
                <p>Nos partenaires sont assurés pendant leurs missions jusqu’à 8M€</p>
                <a href="/inscription" class="hollow button">REJOIGNEZ L'ÉQUIPE</a>
            </div>
            <div class="medium-5 columns wow fadeInRightBig how2display">
                <img src="/images/secure.jpg" alt="">
            </div>
        </div>
    </section>


    <section class="section-newsletter">
        <div class="row column text-center">
            <h2>Inscrivez-vous à la newsletter pour être tenu <br>au courant des dernières nouveautés.</h2>
            <div class="row">
                <div class="medium-5 columns medium-centered">
                    <div class="input-group">
                        <input class="input-group-field" type="email" placeholder="E-mail">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="S'inscrire">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="row text-center">
            <div class="medium-4 columns">
                <h6>LIENS UTILES</h6>
                    <ul>
                    <li><a href="/partenaire">Devenez Manners</a></li>
                    <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                    <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                    <li><a href="/tenues">Les tenues</a></li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <h6>CONTACTEZ-NOUS</h6>
                <p>
                    Victor, notre responsable client:
                    <br><a href="mailto:victor@bemanners.com">victor@bemanners.com</a>
                    <br><a href="tel:+33176390001">01 76 39 00 01</a>
                    <br> 24 Avenue Marceau 75008 PARIS

                </p>
            </div>
            <div class="medium-4 columns">
                <h6>SUIVEZ-NOUS</h6>
                <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="/images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="/images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="/images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="/images/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-10 columns medium-centered">
                <div class="copyright text-center"><a href="dossier/manners-cgu.pdf">Conditions générales d'utilisation </a> - <a href="dossier/manners-mentions-legales.pdf">Mentions légales</a> - @Manners 2016</div>
            </div>
        </div>
        <div class="row column text-center">
            <img src="/images/powered.png" alt="">
        </div>
    </footer>

    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
    <!--<script src="bower_components/what-input/what-input.js"></script>-->
</template>
