<template name="MailChimpListSubscribe">
    <form class="form-inline">
        <!--{{#if message}}
        <p class="mailchimp-message">{{{message}}}</p>
        {{/if}}-->
        <script>
            // function success() {
            //     sAlert.error('Boom! Something went wrong!', {effect: 'genie', position: 'top-left', timeout: 'none', onRouteClose: false, stack: false, offset: '80px'});
            // }
        </script>
        <div class="input-group">
            <input class="mailchimp-email input-group-field" type="email" placeholder="email@exemple.com" />
            <div class="input-group-button">
                <input type="submit" value="Inscription" id="subm" class="mailchimp-subscribe button" />
            </div>
        </div>
    </form>
</template>