<template name="503">
 {{>headerFrontPages}}
  <div class="container paiement-body">
    <div class="row">
      <div class="col-md-4 paiement-block">
        <h1 class="text-center modal-title"> 503 </h1>
        <p class="text-center">Oups ! On dirait que vous vous êtes égarés. <br>
          Si vous avez rencontré un problème, <br>
        veuillez nous contacter sur <a href="mailto:dev@bemanners.com">dev@bemanners.com</a>
        <br>
        Retour à la <a href="/">page d'accueil </a></p>
      </div> <!-- paiement-block -->
    </div>
  </div>
        {{>footerForms}}
</template>

<template name="403">
 {{>headerFrontPages}}
  <div class="container paiement-body">
    <div class="row">
      <div class="col-md-4 paiement-block">
        <h1 class="text-center modal-title">403 </h1>
        <p class="text-center">Oups ! On dirait que vous vous êtes égarés. <br>
          Si vous avez rencontré un problème, <br>
        veuillez nous contacter sur <a href="mailto:dev@bemanners.com">dev@bemanners.com</a>
        <br>
        Retour à la <a href="/">page d'accueil </a></p>
      </div> <!-- paiement-block -->
    </div>
  </div>
        {{>footerForms}}
</template>

<template name="404">
 {{>headerFrontPages}}
  <div class="container paiement-body">
    <div class="row">
      <div class="col-md-4 paiement-block">
        <h1 class="text-center modal-title"> 404</h1>
        <p class="text-center">Oups ! On dirait que vous vous êtes égarés.<br>
          Si vous avez rencontré un problème, <br>
        veuillez nous contacter sur <a href="mailto:dev@bemanners.com">dev@bemanners.com</a>
        <br>
        Retour à la <a href="/">page d'accueil </a></p>
      </div> <!-- paiement-block -->
    </div>
  </div>
        {{>footerForms}}
</template>

<template name="500">
 {{>headerFrontPages}}
  <div class="container paiement-body">
    <div class="row">
      <div class="col-md-4 paiement-block">
        <h1 class="text-center modal-title"> 500    </h1>
        <p class="text-center">Oups ! On dirait que vous vous êtes égarés. <br>
          Si vous avez rencontré un problème, <br>
        veuillez nous contacter sur <a href="mailto:dev@bemanners.com">dev@bemanners.com</a>
        <br>
        Retour à la <a href="/">page d'accueil </a></p>
      </div> <!-- paiement-block -->
    </div>
  </div>
        {{>footerForms}}
</template>