<template name="PaiementConfirmed">
 {{>headerFrontPages}}
  <div class="container paiement-body">
    <div class="row">
      <div class="col-md-4 paiement-block">
        <h5 class="text-center modal-title"> Votre paiement a bien été pris en compte.</h5>
        <p class="text-center">Vous recevrez un mail récapitulatif dans quelques instants.<br>
          Si vous avez rencontré un problème, <br>
        veuillez nous contacter sur <a href="mailto:dev@bemanners.com">dev@bemanners.com</a>
        <br>
        Retour à la <a href="/">page d'accueil </a></p>
      </div> <!-- paiement-block -->
    </div>
  </div>
        {{>footerForms}}
</template>