<template name="Uniform">

       <div id="main-menu" class="main-menu">
        <div class="inner">
            <i class="fa fa-close" id="menu-close"></i>

                     <div class="row">
              <div class="medium-9 columns medium-centered">
                  <div class="row">
                      <div class="medium-6 columns">
                          <div class="menu-box">
                              <h2>Liens utiles</h2>
                              <nav>
                                  <ul>
                    <li><a href="/devenir-manners">Devenez Hôte</a></li>
                    <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                    <li><a href="/questions-frequentes">Questions fréquentes</a></li>
                    <li><a href="/tenues">Les tenues</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="menu-box contacts">
                                <h2>Contact</h2>
                                <p><i class="fa fa-phone"></i>01 76 39 00 01</p>
                                <p><i class="fa fa-map-marker"></i> Paris 75008, 24 Avenue Marceau</p>
                                <p><i class="fa fa-envelope"></i><a href="/contact" target="_blank">Contactez-nous</a></p>
                            </div>
                      </div>
                  </div>
              </div>
          </div>


            <div class="row">
                <div class="medium-4 columns medium-centered">
                    <div class="menu-box menu-box-socials">
                        <h2></h2>
                        <!-- Réseaux sociaux -->
                        <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="images/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <header class="header">
        <div class="expanded row">
            <div class="medium-3 columns">
                <i class="fa fa-bars" id="menu-open"></i>
                <a href="/"><img class="logo show-for-small-only" src="images/logo.svg" alt="Manners" height="120" width="200"></a>
            </div>
            <div class="medium-2 columns">
                <a href="/devenir-manners"><img class="logo show-for-medium" src="/images/logo.svg" alt="Manners" height="120" width="200"></a>
            </div>
            <div class="medium-8 columns text-right">
                <a href="/comment-ca-marche" class="comment-link" style="color:#fbae17">Comment ça marche ?</a>
                <a href="/devenir-manners" class="button-colored comment-link header-item show-for-medium">ESPACE MANNERS</a>
            </div>
        </div>
        <!--<div class="expanded row">
            <div class="medium-11 medium-offset-1">
                <h1>Ensemble, réinventons les métiers de l’accueil</h1>
            </div>
        </div>-->
    </header>

    <section class="section-partner">
        <div class="row">
            <div class="medium-10 columns medium-centered text-center">
            <br>
            <br>
                <h2><b>Les tenues proposées par nos partenaires</b></h2>
                <br><p>Nos partenaires travaillent avec <b>leurs propres tenues</b>. Ils s’engagent à respecter un <b>même code vestimentaire</b> afin de garder une unité lors de vos événements. Choisissez parmi les modèles proposés celui qui correspond le plus à vos attentes. </p>
            </div>
        </div>
    </section>


    <section class="section-uniform uniform-responsive">
        <div class="row small-up-2 medium-up-4">
            <h2>Femmes</h2>
            <div class="medium-3 columns">
                <img src="/images/Tenue-robe-noire-Vsite2.png" alt="">
                    <h6 class="text-center">Robe<br></h6>
                    <p>Robe noire - Escarpins noirs</p>        
            </div>
    
            <div class="medium-3 columns">
                <img src="/images/tenue-vestiaire-Vsite2.png" alt="">
                    <h6 class="text-center">Veste tailleur<br></h6>
                    <p>Costume noir - Ballerines noires </p>   
            </div>
                <div class="medium-3 columns">
            <img src="/images/Tenue-chemisier-Vsite2.png" alt="">
        <h6 class="text-center">Elégant<br></h6>
            <p>Chemisier blanc - Escarpins noirs </p>   
                </div>
                <div class="medium-3 columns">
            <img src="/images/Tenue-detente-Vsite.png" alt="">
        <h6 class="text-center">Urbain </h6>
            <p>T-shirt blanc - Jean & Baskets</p>
                </div>
        </div>
  <!--      <div class="row">
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Chemisier blanc</h6>
                <p>
                    Description à venir.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>T-shirt</h6>
                <p>
                    Description à venir.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Escarpins</h6>
                <p>
                    Description à venir.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Ballerines</h6>
                <p>
                    Description à venir.
                </p>
            </div> 
        </div> -->

    </section>
    
    
       <section class="section-uniform1 uniform-responsive2">
        <h2>Hommes</h2>
        <div class="row small-up-2 medium-up-4">
        <div class="medium-3 columns">
                <img src="/images/chemise-blanche-cravate-Vsite.png" alt="">

                <h6 class="text-center"> Costume classique</h6>
                <p>
                    Costume noir - Chemise blanche - Cravate
                </p>
            </div>
                <div class="medium-3 columns">
                   <img src="/images/chemise-noire-cravate.png" alt="">
                        <h6 class="text-center">Costume all black</h6>
                        <p>
                        Costume noir - Chemise noire - Cravate 
                    </p>
                </div>
            <div class="medium-3 columns">
                <img src="/images/decontractee-Vsite.png" alt="">

                <h6 class="text-center">Élégant</h6>
                <p>
                    Costume noir - Chemise blanche 
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/detente-Vsite.png" alt="">
                <h6 class="text-center">Urbain</h6>
                <p>
                    Chemise blanche - Jeans & Baskets
                </p>
            </div>

        </div>
    <!--    <div class="row">
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Chemise blanche décontractée</h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Cravate noire </h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Veste </h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="medium-3 columns">
                <img src="/images/clothes.png" alt="">
                <h6>Basket </h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </div> -->

    </section>

    <footer class="footer how">
        <div class="row text-center">
            <div class="medium-4 columns">
                <h6>LIENS UTILES</h6>
                <ul>
                    <li><a href="/devenir-manners">Devenez Manners </a></li>
                    <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                    <li><a href="/faq">Questions fréquentes</a></li>
                    <li><a href="/tenues">Les tenues</a></li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <h6>CONTACTEZ-NOUS </h6>
                    <p>  Victor, notre responsable client:
                   <br><a href="mailto:victor@bemanners.com">victor@bemanners.com</a>
                   <br> 01 76 39 00 01
                    <br> 24 Avenue Marceau 75008 PARIS
                </p>
            </div>
            <div class="medium-4 columns">
                <h6>SUIVEZ-NOUS </h6>
                <div class="socials text-center">
                            <a href="/facebook" target="_blank"><img src="images/facebook-menu.png" alt=""></a>
                            <a href="/twitter" target="_blank"><img src="images/twitter-menu.png" alt=""></a>
                            <a href="/linkedin" target="_blank"><img src="images/linkedin-menu.png" alt=""></a>
                            <a href="/instagram" target="_blank"><img src="images/instagram.png" alt=""></a>                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-10 columns medium-centered">
                <div class="copyright text-center"><a href="dossier/manners-cgu.pdf">Conditions générales d'utilisation </a> - <a href="dossier/manners-mentions-legales.pdf">Mentions légales</a> - @Manners 2016</div>
            </div>
        </div>
        <div class="row column text-center">
            <img src="images/powered.png" alt="">
        </div>
    </footer>
</template>