html,
body {
	margin: 0;
	padding: 0;
	-webkit-transform: scale(.98);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	height: 100%;
	width: 100%;
	background: #ffffff;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url('css/HelveticaNeue-Light.ttf') format ('ttf');
}

* {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

img {
	max-width: 80%;
}


/* ------------------------------------- 
			ELEMENTS 
	------------------------------------- */

.logo {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.divider {
	background-color: #000;
	height: 2px;
	width: 94%;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: #fff;
	text-decoration: none;
}

.supermarg {
	margin-left: 120px;
	font-weight: bold;
	margin-bottom: -2px;
}

.fontspe {
	color: rgb(195, 192, 192);
	margin-left: 120px;
}

.left-padding {
	text-align: left;
	padding-left: 120px;
}

.left {
	text-align: left;
}

.right-padding {
	text-align: right;
	padding-right: -100px;
}

.right {
	text-align: right;
}

.footer {
	padding: 30px 0 30px 0;
	background: #fff;
	color: #fefefe;
	display: block;
}

.titre {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 40px;
}

.sub-title {
	font-weight: bold;
	font-size: 14px;
}

.ita {
	font-style: italic;
}


/* ------------------------------------- 
			TYPOGRAPHY 
	------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif";
	line-height: 1.1;
	margin-bottom: 15px;
	color: #000;
	src: url("HelveticaNeue-Light.ttf") format("ttf"), url("HelveticaNeue-Light.otf") format("otf");
}

h5 {
	font-weight: 900;
	font-size: 17px;
}

p,
ul {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}


/* This should also be a block element, so that it will fill 100% of the .container */

.content {
	padding: 15px;
	width: 99%;
	margin: auto;
	display: block;
	font-weight: bold;
}


/* Let's make sure tables in the content area are 100% wide */

.content table {
	width: 94%;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 90%;
	/*padding-left: 2%;*/
}

.center {
	text-align: center;
}

.float-right {
	float: right;
}


/* Be sure to place a .clear element after each set of columns, just to be safe */

.clear {
	display: block;
	clear: both;
}

.table-head {
	border: 1px solid #000;
	background: #444;
}

.table-body {}

th {
	color: #fff;
}

.footer-table {
	border: 1px solid #000;
}

grey {
	background-color: #444;
}