<template name="JobVestiaire">
  <link rel="stylesheet" href="/css/style.css">

  <div id="main-menu" class="main-menu">
      <div class="inner">
          <i class="fa fa-close" id="menu-close"></i>

          <div class="row">
              <div class="medium-9 columns medium-centered">
                  <div class="row">
                      <div class="medium-6 columns">
                          <div class="menu-box">
                              <h2>Liens utiles</h2>
                              <nav>
                                  <ul>
                                      <li><a href="/devenir-hote-hotesse.html">Devenez Hôte/Hôtesse ?</a></li>
                                      <li><a href="#">Comment ça marche ?</a></li>
                                      <li><a href="/faq">Questions fréquentes</a></li>
                                      <li><a href="#">Les tenues</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="medium-6 columns">
                          <div class="menu-box contacts">
                              <h2>Contactez-nous</h2>
                              <p><i class="fa fa-phone"></i> 09 53 27 40 05</p>
                              <p><i class="fa fa-map-marker"></i> Paris 75008, 24 Avenue Marceau</p>
                              <p><i class="fa fa-envelope"></i><a href="mailto:contact@bemanners.com">contact@bemanners.com</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="medium-4 columns medium-centered">
                  <div class="menu-box menu-box-socials">
                      <h2></h2>
                      <!-- Réseaux sociaux -->
                      <div class="socials text-center">
                          <a href="#"><img src="/images/facebook-menu.png" alt=""></a>
                          <a href="#"><img src="/images/twitter-menu.png" alt=""></a>
                          <a href="#"><img src="/images/linkedin-menu.png" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <header class="header">
      <div class="expanded row">

          <div class="medium-1 columns">
              <i class="fa fa-bars" id="menu-open"></i>
              <a href="/accueil"><img class="logo show-for-small-only" src="/images/logo.svg" alt="Manners" height="120" width="200"></a>
              <a href="/accueilhote" class="comment-link header-item show-for-small-only" style="font-size: 14px;">Espace Partenaire</a>
          </div>

          <div class="medium-2 columns">
              <a href="/accueil"><img class="logo show-for-medium" src="/images/logo.svg" alt="Manners" height="120" width="200"></a>
          </div>

          <div class="medium-6 columns text-left">
            <div class="comment-wrapper button-wrapper">
              <a class="button-colored comment-link header-item show-for-medium" style="color:#fbae17 font-size: 14px;" href="/accueilhote">ESPACE PARTENAIRE</a>
            </div><div class="comment-wrapper">
              <a href="/comment-ca-marche" id="header-phone" style="font-size: 14px;" class="comment-link header-item"><i class="fa fa-phone"></i>01 76 39 00 01</a>
            </div><div class="comment-wrapper dropdown dropdown-toggle">
               <a href="#" class="comment-link header-item ">AIDE <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/comment-ca-marche">Comment ça marche</a></li>
                 <li class="divider"></li>
                 <li><a href="/faq">Questions fréquentes</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Les tenues</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Contactez-nous</a></li>
               </ul>
             </div>{{#unless currentUser}}<div class="comment-wrapper ">
                <a class="comment-link header-item show-for-medium" style="font-size: 14px;" href="/inscrivez-vous">INSCRIPTION</a>
              </div>
              <div class="comment-wrapper ">
                <a class="comment-link header-item show-for-medium" style="font-size: 14px;" href="/connexion">CONNEXION</a>
              </div>{{/unless}}{{#if currentUser}}<div class="pull-right customer_name cn-ac">
                <div class="inline-block dropdown dropdown-toggle customer_mt">
                  <div class="comment-wrapper"><div class="crop-photo little round inline"><img id="header-img" class="customer_photo header-item" src="{{getImage currentUser._id}}" alt="Votre photo ici"></div><div class="header-item .customer_name"><span class="inline-block">{{myCompany}}<br>{{currentUser.profile.nameManager}} {{currentUser.profile.lastNameManager}}</span>

                  </div>
                </div>
                <ul class="dropdown-menu">
                  <li><a href="/client/mes-missions">Mes missions</a></li>
                  <li class="divider"></li>
                  <li><a href="/client/profils-favoris">Mes recommandations</a></li>
                  <li class="divider"></li>
                  <li><a href="/client/history">Mon historique</a></li>
                  <li class="divider"></li>
                  <li><a href="/client/messagerie">Messagerie</a></li>
                  <li class="divider"></li>
                  <li><a href="/client/compte">Mon compte</a></li>
                  <li class="divider"></li>
                  {{>logoutC}}
                </ul>
              </div>
            </div>
            {{/if}}
          </div>
        </div>

       <div class="expanded row">
         <div class="medium-11 medium-offset-1">
         </div>
       </div>
    </header>

    <div class="sub-header" style="position: relative; width:100%; height:74px; z-index:1"></div>
    <section class="job title"><div class="row">
      <h1>Le vestiaire</h1>
      <hr/>
      <p>Le vestiaire est un autre élément clé dans l’organisation d’un événement.</p><p>Gérer un vestiaire pour une centaine d’invités ne demande pas la même organisation que pour un événement avec plus de 2000 personnes.<p></p>Voici donc les quelques règles à connaître pour réussir à bien mettre en place son vestiaire.</p><p>« Un vestiaire bien monté, c’est du gâteau alors qu’un vestiaire mal monté peut se transformer en cauchemar ».</p>
    </div></section
    ><div><section class="job"><div class="row">
      <h2>La présentation</h2>
      <hr/>
      <p>Les hôtes et hôtesses d’accueil doivent avoir une tenue impeccable au niveau vestimentaire et au niveau physique.</p><p>Les hôtesses doivent porter des habits soignés et élégants et les hôtes doivent en général porter un costume noir bien taillé avec une cravate noire.</p><p>En ce qui concerne la présentation physique, il existe quelques codes dans l’univers de l’événementiel : les hôtesses doivent en général avoir es cheveux bien attachés et bien maquillées et les hôtes doivent faire attention à avoir une bonne coupe de cheveux et avoir un rasage impeccable.</p>
    </div></section
    ><section class="job"><div class="row">
      <h2>L’attitude</h2>
      <hr/>
      <p>L’attitude doit être le mot d’ordre pour tous les hôtes et hôtesses d’accueil qui souhaitent donner une bonne impression aux clients.</p><p>Il est nécessaire d’avoir une bonne posture, ne pas être avachi ou assis et il est nécessaire de sourire.</p><p>Un hôte ou une hôtesse souriante est toujours très apprécié lors d’un événement. </p><p>Lorsqu’une dame souhaite reprendre son manteau, il est préférable</p>
      </div></section
    ><section class="job"><div class="row">
      <h2>L’élocution</h2>
      <hr/>
      <p>Il est important de savoir bien s’exprimer et de connaître quelques règles de courtoisie.</p><p>Les hôtes et hôtesses doivent être avenants et toujours proposer leur aide aux invités.</p><p>Pour les règles de courtoisie, il est nécessaire de saluer en premier les femmes puis les hommes : « Bonjour Madame, bonjour Monsieur ».</p><p>Il est très mal vu de se contenter d’un « Bonjour » ou d’un « Bonsoir ».</p><p>Il ne faut pas non plus utiliser les expressions suivantes : « Mademoiselle », « Messieurs dames » ou encore « Mesdames et Messieurs ».</p><p>Bien entendu il est toujours préférable de souhaiter également la bienvenue aux invités.</p>
      </div></section
    ><section class="job"><div class="row">
      <h2>L'organisation</h2>
      <hr/>
      <p>Avant que les invités arrivent, il est nécessaire de préparer le vestiaire en accrochant les tickets sur les cintres.</p><p>Il faut préparer autant de cintres qu’il y a d’invités prévus pour l’événement et bien entendu ranger dans l’ordre chronologique.</p>
    </div></section></div>
</template>
